idea/colors/BlueForest.xml
idea/colors/*.icls
idea/options/recentProjects.xml
idea/options/statistics.application.usages.xml
options/dimensions.xml
options/feature.usage.statistics.xml
options/recentProjects.xml
options/statistics.application.usages.xml
private/