img{
    width: 60px;
    height: 60px;
    margin: 60px 0 0 -70px;
    border-radius: 60px;
}
.subtitle{
    float: left;
    margin: 0 29%;
}
h1.title{
    margin: 60px 0;
    font: 500 42px 'Roboto Slab',Serif;
}
h2{
    border-bottom: 3px solid #eee;
    padding:  0 5px 0;
}
.outline-2 {
    padding: 10px 0 0 0;
}
.outline-2 p {
    margin: 0;
}
.status p{
    text-align: center;
}
.license h2 {
  display: none;
}
.license p {
  text-align: center;
}
div#content,div#postamble{
    width:90%;
    max-width:760px;
    margin: 0 auto;
}
object.org-svg{
    width: auto;
}
pre.src{
    text-align: center;
    background-color: #fff;
}
#org-div-home-and-up{
    display:none;
}
