div#content,div#postamble{
    width:90%;
    max-width:760px;
    margin: 0 auto;
}
div#postamble p,div.outline-2,div.outline-2 p{
    text-align: center;
}
div#content>pre.example{
    font-size: 7pt;
    line-height: 6pt;
}
